.page .content{
    padding-top: 35px;
}

.cartpage table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    
}

.cartpage table tr{
    text-align: center;
}

.cartpage table thead{
    background-color: #F4F4F4;
}
.cartpage table th{
    padding: 10px 20px;
    font-weight: 600;
    color: #8A8A8A;
}

.cartpage table tr td{
    padding:10px 20px;
}

.cartpage table .delete-btn, .cartpage table .checkout-btn{
    width: 100px;
    height: 30px;
    border: 0;
    color:white;
    font-size: 16px;
    border-radius: 10px;
}

.cartpage table .delete-btn{
    background-color: #502121c4;
    cursor: pointer;
}

.cartpage table .delete-btn:hover{
    background-color: #502121;
    cursor: pointer;
}

.cartpage table .checkout-btn{
    background-color: #215023be;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.cartpage table .checkout-btn:hover{
    background-color: #215023;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.cartpage table .product-col img{
    width: 100px;
    vertical-align: middle;
    margin-right: 16px;
}

.cartpage table .total-price{
    text-align: right;
    font-size: 24px;
}
.cartpage table .total-price span{
    font-weight: bold;
}

.cartpage table tfoot tr{
    border-top: 1px solid #215023;
    height: 80px;
    padding-top: 30px;
}


.selectproduct {
    margin-bottom: .75rem;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.selectproduct:hover {
    margin-bottom: .75rem;
    font-size: 16px;
    font-weight: 400;
    color: #656d4a;
}