.catpage .catcontent .itemcard{
    display: flex;
    align-items: center;
    gap: 15px;
}
.catpage .catcontent hr{
    border:0;
    height: 2px;
    background-color: #ede1d5;
    width: 100%;
}

.catpage .catcontent .product-price{
    font-size: 22px;
    font-weight: bold;
}

