.container{
  width:80%;
  min-width: 800px;
  max-width: 1280px;
  margin:auto;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #414934;
}
a:hover {
  text-decoration: none;
  color: #656d4a;
}
.page {
  background-color: #ede1d5;
  padding-bottom: 50px;
}
.page .containertitle{
  background-color: #ede1d5;
  height: 80px;
  box-sizing: border-box;
  display: flex; align-items: center;
  padding-left: 20px;
}

.page .containertitle h1{
  width: 100%;
  margin:auto;
  font-size: 26px;
  font-weight: 600;
  color: #414934;
}

.index-prod {
  width:25%;
}

.page .content{
  background-color: #ede1d5;
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  margin:auto;
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 20px;
  box-sizing: border-box;
}

/* ===== homepage banner ==== */ 

.home-hero-img {
  position: relative;
  height: 400px;
  background-color: #656d4a;
  margin: 50px 100px 50px;
  flex-direction: row;
  display: flex;
  vertical-align: middle;
}

.home-hero-img-container {
position: relative;
height: 400px;
width: 50%;
display: flex;
}

.home-hero-img img {
position: relative;
height: 400px;
}

.text {
color: lightgrey;
font-size: 16px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.active {
background-color: #717171;
}

.display{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.flexrow{
  display:flex;
  flex-direction: row;   
}

.justcontentround {
  justify-content: space-around;
}
.justcontent {
  justify-content: space-between;
}

.cardbox {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  padding:25px 5px;
}
.cardbox-img, .cardbox-img-top {
  border-radius: 3px;
  max-width: 80%;
  margin:auto;
}

.cardbox-content {
  flex: 1 1 auto;
  padding: 20px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.cardbox-title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.cardbox-title:hover {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  color: #656d4a;
}

.button-block {
  display: block;
  width: 100%;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin:5px;
  color: black;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 10px;
}

/* 
  COLOURS
  beige - #ede1d5;
  light green - #656d4a; 
  dark green - #414934;

*/

.btnoutline {
  color: #ffffff;
  background-color: #656d4a;
}
.btnoutline:hover {
  color: #ffffff;
  background-color: #414934;
}

.cardbox .cart-button{
  margin-top: 20px;
  margin-bottom: 12px;
}

/* ===== categories banner ==== */ 
/* ====== ALSO USED FOR PRODUCT PAGES ====== */

.cat-wrapper {
  position: relative;
  height: 400px;
  background-color: #ede1d5;
  margin: 40px 50px 40px 30px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  align-items: center;
}

.cat-cardbox {
  margin: 30px 20px 20px 50px;
  width: 25%;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px;
}

.cat-cardbox img {
max-width: 100%;
max-height: 100%;
}

.cat-cardbox p {
padding-top: 10px;
font-size:12px;
}



.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 150px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: black;
}



.popup{
  background-color: #bdbdbd;
  opacity: 60%;
}
.popup-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: black;
  animation-name: popup;
  animation-duration: 0.3s;
  z-index:999
}

@keyframes popup {
  from {top:-400px; opacity:0}
  to {top:0; opacity:1}
}

.popup .closepopup {
  color: red;
  float: right;
  font-size: 40px;
  margin-top: -10px;
  text-decoration: none;
  cursor: pointer;
}
.popup .closepopup:hover {
  color: #910303;
}

.popup .popup-content{
  width: 80%;
  margin:auto;
  padding: 25px; 
  color: #000000;
}

.index-prod .prod-price{
  font-weight: 600;
  margin: 10px 0 20px;
  font-size: 16px;
}

.emptycart {
  color: grey;
  margin-top: 20px;
  text-align: center;
}

body {
padding: 0px;
margin: 0px;
font-family: 'Noto Sans', sans-serif;
text-decoration: none;
  background-color: #ede1d5;
}

nav{
  background-color: #414934;
  color: #ede1d5;
  width: 100%;
  min-width: 800px;
  top: 0;
  height: 80px;
  z-index: 3;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
text-decoration: none;
}
nav .navcontainer{
  width: 100%;
  max-width: 1280px;
  height: 500px;
  margin:auto;
  display: flex;
  align-items: center;
  position: relative;
  padding:0 30px;
}

nav .navcontainer ul {
  display: flex;
  gap:30px;
  margin:0;
}
nav ul li {
  font-size: 16px;
  list-style-type: none;
}

nav .navright{
  position: absolute;
  gap:40px;
  top:10px;
  right:20px;
  display: flex;

}
nav a{
  color: #ede1d5;
}
nav a:hover{
  color: #b8b8b8;
}

nav .navright img{
  width: 24px;
  display: block;
  margin:auto;
}

nav .user{
  position: relative;
  cursor: pointer;
}

nav .userdropdown{
  position: absolute;
  top: 52px;
  background-color: #414934;
  color:#ede1d5;
  z-index: 10;
  min-width: 150px;
  height: 0;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

nav .userdropdown ul li hr{
  margin: 10px 0;
}

/* ===== hamburger menu ==== */ 

.hamburger-menu-wrapper {   
  width: 33%;
  vertical-align: middle;
}

#menuToggle
{
display: block;
position: relative;
left: 15px;
top: 20px;
z-index: 1;
user-select: none;
}

#menuToggle a
{
text-decoration: none;
color: #656d4a;
transition: color 0.3s ease;
}

#menuToggle a:hover
{
color: #414934;
text-decoration: underline;
font-weight: bold;
}

#menuToggle input
{
cursor: pointer;
opacity: 0; 
z-index: 2; 
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;  
}

#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
background: #ede1d5;
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #656d4a;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

/*

#menu
{
position: absolute;
width: 200px;
margin: -110px 0 0 -50px;
padding: 50px;
padding-top: 125px;

background: #ffffff;
list-style-type: none;

transform-origin: 0% 0%;
transform: translate(-110%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* ===== logo ==== */ 

.header-logowrapper {
width: 33%;
padding: 0;
margin: 0;
text-align: center;
}

.header-logo {
height: 80px;
}

.header-logo img {
vertical-align: middle;
height: 80px;
}

#menu li
{
padding: 10px 0;
font-size: 16px;
}

/*
* Slide in from the left
*/
#menuToggle input:checked ~ ul
{
transform: none;
}


/* popup */
nav .popup .popup-body{
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}
nav .popup .popup-body h1{
  font-size: 36px;
  margin-bottom: 30px;
}
nav .popup .popup-body .inputfield{
  width: 100%;
  margin-bottom: 15px;
}
nav .popup .popup-body .inputfield input{
  width: 300px;
  height: 34px;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
  padding-left: 12px;
  border: 1px solid #afafaf;
}
nav .popup .popup-body p{
  margin-top: 22px;
  font-size: 13px;
  display: block;
}

nav .errormsg{
  color: red;
}

/* 
  COLOURS
  beige - #ede1d5;
  light green - #656d4a; 
  dark green - #414934;

*/

.sign-in-button {
background-color: #215023be ;
}

.sign-in-button:hover {
background-color: #215023 ;
}

.sign-up-button {
background-color: #215023be ;
}

.sign-up-button:hover {
background-color: #215023 ;
}

.sign-in-sign-up-link {
color: #215023 ;
}

.footer-fixed {
width: 100%;
background-color: #414934;
position: relative;
bottom: 0;
box-shadow:black;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
color: #ede1d5;
text-decoration: none;
}

.catpage .catcontent .itemcard{
 align-items: center;
 gap: 15px;
 display: flex;

}

.catpage .catcontent .prod-price{
  font-size: 22px;
  font-weight: bold;
}

/* PRODUCT DETAIL PAGE */

.prod {
  margin-top: 30px;
}

.prod-details {
  margin-bottom:5px;
}
.prod-details {
  width: 50%;
}
.prod-img {
  width: 70%;
  max-width: 400px;
  max-height: 500px;

}
.prod-img img {
  max-width:80%;
  max-height: 400px;
  margin:auto;
  display: block;
}
.prod-name{
  font-size: 24px;
}

.prod-price{
  font-size: 24px;
  font-weight: 600;
  margin-top: 13px;
}

.prod-qty{
  margin-top: 40px;
}
.prod-qty input{
  width: 50px;
  box-sizing: border-box;
  height: 50px;
  padding:8px;
}
.prod-qty .flexrow{
  gap:12px;
  align-items: center;
}
.prod-qty .flexrow >div{
  display: flex;
  gap:10px;
}
.prod-qty .flexrow >div>div{
  width: 50px;
  margin:0;
}
.prod-qty button{margin:0;}

.buttons{
  margin-top: 10px;
}

.content{
  padding-top:40px;
}

.infotitle {
  padding: 12px 24px;
  font-weight: bold;
  background-color: #ede1d5;
  margin-top: 20px;
}
.count {
  width: 15%;
  text-align: center;
  padding: 2px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
}
.count:focus{
  border: 1px solid #bbbbbb;
}

.desc {
  margin-bottom:5px;
}

.page .content{
  padding-top: 35px;
}

.cartpage table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  
}

.cartpage table tr{
  text-align: center;
}

.cartpage table thead{
  background-color: #215023;
}
.cartpage table th{
  padding: 10px 20px;
  font-weight: 600;
  color: #215023;
}

.cartpage table tr td{
  padding:10px 20px;
}

.cartpage table .delete-button, .cartpage table .checkout-button{
  width: 150px;
  height: 40px;
  font-size: 16px;
  color:white;
}

.cartpage table .delete-button{
  background-color: #502121c4;
}

.cartpage table .delete-button:hover{
  background-color: #502121;
  cursor: pointer;
}

.cartpage table .checkout-button{
  background-color: #215023be;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.cartpage table .checkout-button:hover{
  background-color: #215023;
  width: 150px;
  height: 45px;
}

.cartpage table .prod-col img{
  width: 100px;
  vertical-align: middle;
  margin-right: 16px;
}

.cartpage table .tot-price{
  text-align: right;
  font-size: 24px;
}
.cartpage table .tot-price span{
  font-weight: bold;
}

.cartpage table tfoot tr{
  border-top: 1px solid #215023;
  height: 80px;
  padding-top: 30px;
}

.prod-link {
  margin-bottom: .75rem;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.prod-link:hover {
  margin-bottom: .75rem;
  font-size: 16px;
  font-weight: 400;
  color: #656d4a;
}

.checkpage .ord-sum h2{
margin: 10px 0 20px;
font-size: 24px;
}

.checkpage .ord-tbl{
width: 100%;
border-radius: 10px;
border-collapse: collapse;
}

.checkpage .ord-tbl tr{
text-align: center;
}

.checkpage .ord-tbl thead{
background-color: #215023;
}
.checkpage .ord-tbl th{
padding: 10px 20px;
font-weight: 600;
color: white;
}

.checkpage .ord-tbl tr td{
padding:10px 20px;
}

.checkpage .ord-tbl .prod-display{
display: flex;
align-items: center;
}
.checkpage .ord-tbl .prod-display img{
width: 100px;
margin-right: 18px;
align-items: center;
vertical-align: middle;
}

.checkpage .ord-tbl .price-total{
text-align: right;
font-size: 24px;
}
.checkpage .ord-tbl .price-total span{
font-weight: bold;
}

.checkpage .ord-tbl tfoot tr{
height: 80px;
padding-top: 30px;
border-top: 1px solid lightgrey;  
}

.checkpage .cust-det-tbl, .checkpage .cust-det-tbl tr{
width: 100%;
border-collapse: collapse;
}

.checkpage .cust-det-tbl tr td{
padding:10px 20px;
}

.checkpage .cust-det-tbl input{
background-color: #f9f9f9;
vertical-align: middle;
width: 100%;
height: 40px;
padding-left: 15px;
font-size: 16px;

}
.checkpage .cust-det-tbl input[type='radio']{
width: auto;
margin-right: 10px;
}
.checkpage .cust-det-tbl .label{
color: #333333;
}

.checkpage .cust-det-tbl button{
width: 180px;
height: 50px;
border: 0;
border-radius: 10px;
color: #ffffff;
font-size: 16px;
background-color: #5c8742;
}

.checkpage .cust-det-tbl .payment-sum{
display: flex;
justify-content: flex-end;
margin-top: 20px;
align-items: center;
gap:16px;

}
.checkpage .cust-det-tbl .payment-sum >div{
font-size: 24px;

}
.checkpage .cust-det-tbl .payment-sum >div span{
font-weight: bold;
}
.checkpage .cust-det-tbl tr:last-child{
border-top: 1px solid lightgrey;
}

button.order-button {
background-color: none;
background-color: #215023be ;
color: #ffffff;
}

button.order-button:hover {
background-color: none;
background-color: #215023 ;
color: #ffffff;
}


.popup {
display: none; 
position: fixed;
z-index: 999; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: #000000;
}

.popup-body {
  padding: 15px 18px;
  text-align: center;
}

.popup-successful-footer, .popup-unsuccessful-footer {
padding: 15px 18px;
text-align: center;
color: #ffffff;
}
.popup-successful-footer{
background-color: #c6d4a9;
color: #414934;
}
.popup-unsuccessful-footer {
background-color: #d4a9a9;
color: #ffffff;
}

/* Pop-up Content */
.popup-content {
position: relative;
animation-name: popup;
animation-duration: 0.3s;
background-color: #ffffff;
margin-top: 80px;
margin: auto;
padding: 0;
width: 40%;
}

.popup-button {
color: #ffffff ;
border-color: #656d4a;
background-color: #656d4a;
}
.popup-button:hover {
color: #ffffff;
border-color: #414934 ;
background-color: #414934 ;
}

.popup-button a {
color: #ffffff;
}

.popup-button a:hover {
color: #ffffff;
}

/* close Button */
.closepopup {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
