/* 
    COLOURS
    beige - #ede1d5;
	  light green - #656d4a; 
    dark green - #414934;

*/


/* ===== homepage banner ==== */ 

.homepage-banner {
    position: relative;
    height: 400px;
    background-color: #656d4a;
    margin: 200px 100px 100px;
    flex-direction: row;
    display: flex;
    vertical-align: middle;
}

.homepage-banner-container {
  position: relative;
  height: 400px;
  width: 50%;
  display: flex;
}

.homepage-banner img {
  position: relative;
  height: 400px;
}

.banner-content {
    width: 50%;
    position: absolute;
    float: right;
    top: 30px;
    right: 0;
    left: 600px;
}

.banner-content h1 {
  color: #ede1d5;
}

.banner-content h3 {
  color: #ede1d5;
  font-size: 16px; 
}

.banner-content a button {
  background-color: #ede1d5;
  color: #656d4a;
  border:  #ede1d5;
  height: 40px;
  width: 100px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.banner-content a button:hover {
  background-color: #656d4a;
  color: #ede1d5;
  border: 1px solid #ede1d5;
  height: 40px;
  width: 100px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.banner-content a{
  text-decoration: none;
}


/* ===== categories banner ==== */ 

.categories-wrapper {
    position: relative;
    height: 400px;
    background-color: #ede1d5;
    margin: 40px 50px 40px 30px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-items: center;
}

.categories-card {
    margin: 30px 20px 20px 50px;
    width: 25%;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
}

.categories-card img {
  max-width: 100%;
  max-height: 100%;
}

.categories-card p {
  padding-top: 10px;
}
