/* 
    COLOURS
    beige - #ede1d5;
	  light green - #656d4a; 
    dark green - #414934;

*/
body {
	padding: 0px;
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
    background-color: #ede1d5;
}

nav{
    background-color: #414934;
    color: #ede1d5;
    width: 100%;
    min-width: 800px;
    top: 0;
    height: 80px;
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
}
nav .nav-content{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    position: relative;
    padding:0 20px;
    box-sizing: border-box;
}
nav .logo img{
    width: 50px;
    margin-right: 50px;
}

nav .nav-content >ul {
    display: flex;
    gap:30px;
    margin:0 !important;
}
nav ul li {
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
}

nav .right-content{
    position: absolute;
    top:8px;
    right:20px;
    display: flex;
    gap:30px;
}
nav a{
    color: #ede1d5;
}
nav a:hover{
    color: rgb(184, 184, 184);
}

nav .right-content img{
    width: 24px;
    display: block;
    margin:auto;
}

nav .account{
    position: relative;
    cursor: pointer;
}

nav .account-dropdown{
    position: absolute;
    top: 51.5px;
    right:0;
    background-color: #414934;
    color:#ede1d5;
    z-index: 5;
    min-width: 150px;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    border:1px solid #656d4a; 
}

nav .account-dropdown ul li hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ===== hamburger menu ==== */ 

.hamburger-menu-wrapper {   
    width: 33%;
    vertical-align: middle;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #656d4a;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #414934;
  text-decoration: underline;
  font-weight: bold;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ede1d5;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #656d4a;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -110px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-110%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* ===== logo ==== */ 

.header-logowrapper {
  width: 33%;
padding: 0;
margin: 0;
  text-align: center;
}

.header-logo {
height: 80px;
}

.header-logo img {
vertical-align: middle;
height: 80px;
}

#menu li
{
  padding: 10px 0;
  font-size: 16px;
}

/*
 * Slide in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}



/* modal */
nav .modal .modal-body{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}
nav .modal .modal-body h1{
    font-size: 36px;
    margin-bottom: 30px;
}
nav .modal .modal-body .input-group{
    width: 100%;
    margin-bottom: 15px;
}
nav .modal .modal-body .input-group input{
    width: 300px;
    height: 34px;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px;
    padding-left: 12px;
    border: 1px solid #afafaf;
}
nav .modal .modal-body button{
    width: 300px;
    margin-top: 20px;
    height: 40px;
    border-radius: 8px;
    background: #40A3FF;
    color:white;
    font-size: 18px;
    font-weight: 500;
    border:0;
}
nav .modal .modal-body small{
    margin-top: 20px;
    font-size: 14px;
    display: block;
}
nav .modal .modal-body small span{
    margin-top: 10px;
    color: #40A3FF;
    cursor: pointer;
}
nav .error-message{
    color: red;
}

/* 
    COLOURS
    beige - #ede1d5;
	  light green - #656d4a; 
    dark green - #414934;

*/

.sign-in-btn {
  background-color: #215023be !important;
}

.sign-in-btn:hover {
  background-color: #215023 !important;
}


.sign-up-btn {
  background-color: #215023be !important;
}

.sign-up-btn:hover {
  background-color: #215023 !important;
}

.sign-in-sign-up-link {
  color: #215023 !important;
}

